/* html {
  --inner-cursor-color: cyan;
  --outer-cursor-color: rgba(255, 255, 255, 0.5);
} */

*::-webkit-scrollbar {
  display: none;
}

* {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

:root {
  width: 100vw;
  margin: 0;
  padding: 0;
  background-color: black;
  display: flex;
  flex-direction: column;
  color: white;
}
