*::-webkit-scrollbar {
  display: none;
}

* {
  -ms-overflow-style: none;
  scrollbar-width: none;
  cursor: url('../assets/cursor/normal.png') 4 11, auto;
}

::selection {
  background: rgb(39, 226, 255);
  color: black;
}

:root {
  width: 100vw;
  margin: 0;
  padding: 0;
  background-color: black;
  display: flex;
  flex-direction: column;
  color: white;
}
