body {
    overflow-x: hidden;
    overflow-y: hidden;
}

.bg {
    position: fixed;
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    z-index: -1;
    background-image: url("../../assets/bg.jpg");
    filter: invert(1) grayscale(1) contrast(0.9) brightness(0.99) blur(10px);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.Contact {
    display: flex;
    flex-direction: column;
}

.Contact-Header {
    width: 100%;
    padding-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Contact-Body {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px 0;
    overflow-x: hidden;
    overflow-y: scroll;
    padding-top: 100px;
    gap: 100px;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.Contact-Body-Left {
    width: calc(50% - 200px);
    display: flex;
    flex-direction: column;
    font-size: large;
    align-self: top;
    gap: 5px;
}

.Contact-Body-Left a {
    color: #fff;
    cursor: var(--pointer);
}

/*
.Contact-Body-Left a:hover {
    cursor: none;
}
*/

.Contact-Body-Right {
    width: calc(50% - 200px);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: large;
    align-self: top;
}

.Contact-Body-Right form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.Contact-Body-Right form input,
textarea {
    width: 300px;
    height: 30px;
    border: none;
    padding: 0 10px;
    outline: none;
    border: 1.5px solid #00fbff;
    background-color: #131313;
    color: #fff;
    transition: all 0.2s ease-in-out;
    box-shadow: 0 0 10px #00000085;
}

.Contact-Body-Right form input:hover, textarea:hover {
    cursor: var(--text-select);
}

.Contact-Body-Right form textarea {
    resize: none;
    -ms-overflow-style: none;
    scrollbar-width: none;
    height: 70px;
    padding: 5px 10px;
}

.Contact-Body-Right form textarea::-webkit-scrollbar {
    display: none;
}

.Contact-Body-Right form input:focus,
textarea:focus {
    border: 1.5px solid #00a2ff;
}

.Contact-Body-Right form input::placeholder,
textarea::placeholder {
    color: #d2d2d2;
}

.Contact-Body-Right .button {
    width: 100px;
    height: 30px;
    border: none;
    outline: none;
    background-color: #404040;
    color: #ffffff;
    cursor: var(--pointer);
    transition: all 0.2s ease-in-out;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    font-weight: 600;
    text-shadow: 0 0 10px #00000085;
}

.Contact-Body-Right .button:hover {
    transform: scale(1.02);
    background-color: #00fbff;
    color: #000000;
    box-shadow: 0 0 5px #00fbff;
    cursor: var(--pointer);
}

@media screen and (max-width: 900px) {
    body {
        overflow-y: scroll;
        overflow-x: hidden;
    }

    .Contact-Body {
        flex-direction: column;
        padding-bottom: 120px;
        padding-top: unset;
        justify-content: unset;
        gap: 10px;
    }

    .Contact-Body-Left {
        width: 100%;
        padding: 0 100px;
        font-size: unset;
    }

    .Contact-Body-Right {
        padding-top: 10px;
        width: 100%;
        align-items: unset;
        font-size: unset;
    }

    .Contact-Body-Right h2 {
        text-align: center;
    }

    .Contact-Body-Right form {
        gap: 20px;
    }

    .Contact-Body-Right form input,
    textarea {
        width: 300px;
    }
}

@media screen and (max-width: 500px) {
    .Contact-Body-Left {
        padding: 0 50px;
    }

    .Contact-Body-Right form input,
    textarea {
        width: 250px;
    }
}
